body{
    padding: 0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(45deg,rgba(0, 255, 234, 0.514),rgba(103, 255, 2, 0.5));
}
/*---------------Banner-------------------------*/
.banner{
    background:linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,1)), url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 265px;
    width: 100%;
}

.banner-text{
    position: relative;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

.banner-text h1{
    font-size: 10px;
}

.banner-text h3{
    font-size: 8px;
}

/*-----------------About------------------------*/

#about{
    margin:20px auto;
}

.card{
    box-shadow: 1px 1px 4px #000000;
    opacity: 0.7;
}

.card:hover{
    transform:translateY(5px);
    box-shadow: 2px 2px 8px #000000;
    transition: 1s;
    opacity: 1;
}

.about-text {
    background-color: rgb(247, 202, 244);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 8px #000000;
    padding: 25px 30px;
}

.about-text p{
    font-size: 13px;
    justify-content: center;
}

.about-text i{
    transform:translateY(-3px);
}

/*---------------------Specification--------------------*/
#spec{
    margin:auto 10px;
}

.box1{
    background-color: blueviolet !important;
}

.box2{
    background-color: rgb(41, 252, 122) !important;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.text-center{
    margin:20px auto;
}


/*------------------Creative----------------------*/
.val{
    width:100px !important;
    height: 100px !important;
    border-radius: 50% !important;
}

.val i{
    margin-top:12px;
}

.seen{
    display:none;
    font-size: medium;
    font-weight: bold;
}

.s1{ color:rgb(0, 153, 255);}
.s2{ color:rgb(0, 206, 86);}
.s3{ color:rgb(250, 29, 29);}
.s4{ color:rgb(58, 54, 54);}

.val:hover + .seen{
    transition:2s;
    display: block;
}

#spec {
    background: linear-gradient(45deg,rgb(0, 60, 255),rgba(255, 255, 255, 0.493),rgba(255, 2, 255, 0.5)),url("../img/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#creative {
    padding-bottom: 2%;
    padding-top: 1%;
    margin-left: 1%;
    margin-right:1%;
    border-radius: 10px;
    background: linear-gradient(45deg,rgba(0, 255, 136, 0.685),rgba(255, 255, 255, 0.493),rgba(255, 196, 2, 0.808)),url("../img/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*---------------------Contact us--------------------*/

#contact{
    background-color: rgb(94, 252, 120);
    border: 2px outset rgb(90, 80, 90);
    box-shadow: 3px 3px 10px #000000;
    border-radius: 20px;
    margin:1%;
    padding-bottom: 1%;
    
}

/*-------------------Feedback----------------------*/
.social i:hover{
    transform: rotate(360deg);
    transition: 600ms;
}

.item1 i{
    color:#0e76a8 !important;
}

.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

.item4 i{
    color:#c4302b !important;
}
/*-------------------Footer----------------------*/
#footer{
    padding-top: 2%;
    background-color: white;
}
/*------------------------Media Query---------------------------*/
@media (max-width: 396px) {
    .card-text{font-size:10px;}
}

@media (min-width: 280px) {
    .banner { height: 400px; }
    .banner-text h1{ font-size: 21px; }
    .banner-text h3{ font-size: 15px; }
}

@media (min-width: 397px) {
    .banner { height: 400px; }
    .banner-text h1{ font-size: 30px; }
    .banner-text h3{ font-size: 20px; }
}

@media (min-width: 768px) {
    .banner { height: 500px; }
    .banner-text h1{ font-size: 50px; }
    .banner-text h3{ font-size: 30px; }
}

@media (min-width: 992px) {
    .banner { height: 600px; }
    .banner-text h1{ font-size: 80px; }
    .banner-text h3{ font-size: 40px; }
    .about-text p{ font-size: 18px; }
}